[submodule "Swin-Transformer-Object-Detection"]
	path = Swin-Transformer-Object-Detection
	url = https://github.com/SwinTransformer/Swin-Transformer-Object-Detection
[submodule "customized_mmdetection"]
	path = customized_mmdetection
	url = https://github.com/Ino-Ichan/customized_mmdetection
